# Ignorar em qualquer lugar do projeto (Recursivo)
**/node_modules/
**/target/
**/__pycache__/
**/*.pyc
**/.venv/

# Específicos do seu projeto
peluchegpt/frontend/node_modules/
peluchegpt/frontend/src-tauri/target/
peluchegpt/backend/__pycache__/

# Ambiente e Segredos
.env
*.json
!package.json
!composer.json

# Ignorar o Banco de Dados
database/
*.db
*.sqlite